@using Microsoft.AspNetCore.Mvc.Routing
@using ViewModels
@model ViewModels.ArticleViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="row">
	<div class="col-xs-12">
		<h2>@Model.Title</h2>
		<h4>By @Model.Author, @Model.PublishedDate.Value.ToString("dd/MM/yyyy")</h4>
		<p>
			@if (Model.Liked)
		{
			<a asp-action="ToggleLike" asp-route-articleId="@Model.ArticleId" href="@Url.Link("ToggleLike", new { articleId = Model.ArticleId})">Liked</a>
		}
		else
		{
			<a asp-action="ToggleLike" asp-route-articleId="@Model.ArticleId">Like</a>
		}
		(@Model.Likes)
		</p>
	</div>
</div>
<hr/>
<div class="row">
	<div class="col-xs-12">
		@Html.Raw(Model.Body)
	</div>
</div>
<hr />
<div class="row">
	<div class="col-xs-12">
		<a asp-action="Index" asp-controller="Home">Back to Homepage</a>
	</div>
</div>
