@using System.Collections.Generic
@using System.Linq
@using ViewModels

@model List<ArticleSummaryViewModel>

@{
	var recentArticles = Model.Take(10);
    ViewData["Title"] = "Home Page";
}

@section Styles {
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />
}

@section Scripts{
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
	<script>
		$(document).ready(function () {
			$('#articleSearchTable').DataTable();
		});
	</script>
	<script type="text/javascript">
		function Redirect(articleId) {
			location.href = "Article/?articleId=" + articleId;
		}
	</script>
}

@if (recentArticles.Any())
{
	<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">			
		<div class="carousel-inner text-center" role="listbox">
			@{ var firstArticle = true; }
			@foreach (var article in recentArticles)
			{
				<div class="item
					@if (firstArticle)
					{
						@: active
						firstArticle = false;
					}
					">
					<h3>@article.Title</h3>
					<p>@article.Summary</p>				
					@Html.ActionLink("Read more...", "Index", "Article", new { articleId = article.ArticleId })
				</div>

			}
		</div>
		<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<h3>Pressford Employee News</h3>
			<table id="articleSearchTable" class="display" cellspacing="0">
				<thead>
				<tr>
					<th>Title</th>
					<th>Summary</th>
					<th>Author</th>
					<th>Published Date</th>
				</tr>
				</thead>
				<tbody>
				@foreach (var item in Model)
				{
					<tr onclick="Redirect(@item.ArticleId)">
						<td>@item.Title</td>
						<td>@item.Summary</td>
						<td>@item.Author</td>
						<td>@item.PublishedDate.Value.ToString("dd/MM/yyyy")</td>
					</tr>
				}
				</tbody>
			</table>
			<hr />
		</div>
	</div>
}


<div class="row">
	<div class="col-md-3">
		<h2>Application uses</h2>
		<ul>
			<li>Sample pages using ASP.NET Core MVC</li>
			<li><a href="https://go.microsoft.com/fwlink/?LinkId=518004">Bower</a> for managing client-side libraries</li>
			<li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
		</ul>
	</div>
	<div class="col-md-3">
		<h2>How to</h2>
		<ul>
			<li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">Add a Controller and View</a></li>
			<li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
			<li><a href="https://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
			<li><a href="https://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
			<li><a href="https://go.microsoft.com/fwlink/?LinkId=699318">Add client packages using Bower.</a></li>
			<li><a href="https://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>
		</ul>
	</div>
	<div class="col-md-3">
		<h2>Overview</h2>
		<ul>
			<li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET Core</a></li>
			<li><a href="https://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET Core such as Startup and middleware.</a></li>
			<li><a href="https://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li>
			<li><a href="https://go.microsoft.com/fwlink/?LinkId=398603">Security</a></li>
			<li><a href="https://go.microsoft.com/fwlink/?LinkID=699321">Client side development</a></li>
			<li><a href="https://go.microsoft.com/fwlink/?LinkID=699322">Develop on different platforms</a></li>
			<li><a href="https://go.microsoft.com/fwlink/?LinkID=699323">Read more on the documentation site</a></li>
		</ul>
	</div>
	<div class="col-md-3">
		<h2>Run & Deploy</h2>
		<ul>
			<li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
			<li><a href="https://go.microsoft.com/fwlink/?LinkID=517853">Run tools such as EF migrations and more</a></li>
			<li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure Web Apps</a></li>
		</ul>
	</div>
</div>





